.container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    max-width: 280px;
    margin: 20px auto;
}

.contProfile {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: hsla(320, 20%, 97%, 0.699);
    padding: 8px 0;
}

.avatar {
    width: 85px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 10px;
}

.textName {
    font-size: 20px;
    font-weight: 700;
}

.taxtTag,
.textLocation {
    font-weight: 400;
    color: gray;
}

.contSocialReviews {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(159, 159, 159);
    padding: 0 20px;
    background-color: #35333334;
}

.contSocialReviews li:not(:last-child) {
    padding-right: 20px;
    border-right: 2px solid rgb(159, 159, 159);
}

.socialReviewsItem {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subText {
    font-weight: 700;
}