th,
td {
    border: 1px solid black;
}

.contTable {
    width: 520px;
    border-collapse: collapse;
    margin: 20px auto;
}

.contHhead {
    background-color: rgb(31, 31, 31);
    color: #FFFFFF;
}

.contTbody td {
    padding-left: 60px;
}

tr:nth-child(2n) {
    background-color: #35333334;
}